@import "weapp-tailwindcss";

@layer components {
    .reset-button {
        padding: 0;
        background-color: transparent;
        font-size: inherit;
        line-height: inherit;
        color: inherit;

        &::after {
            border: none;
        }
    }
}